// ============================================= 

//  Base SCSS                

// ============================================= 


//  Import components              
// ============================================= 
@import "components/base"; 


//  Import partials              
// =============================================
@import "partials/reset";
@import "partials/type";



//  Base styles            
// =============================================

body {
	margin: 0 auto;
	padding-top: em(20);
	max-width: 623px;
	height: 100%;
	@media (min-width: $small) {
		padding: em(20);
	}
	@media (min-width: $smedium) {
		padding-top: em(40);
	}
	@media (min-width: $large) {
		padding-top: em(60);
	}
}

article {
	margin: 0 auto;
	padding: 0 em(20);
	max-width: 623px;
	height: 100%;
	border-right: 1px solid $light-gray;
	border-left: 1px solid $light-gray;
	background: white;
	@media (min-width: $smedium) {
		padding: 0 em(20);
	}
}

.graphic-header {
	position: relative;
	margin-bottom: em(10);
	@media (min-width: $large) {
		// margin-bottom: em(40);
	}
}

.graphic-title {
	margin-bottom: 20px;
	font-size: em(48);
	line-height: 100%;
	@media (min-width: $smedium) {
		font-size: em(60);
	}
	@media (min-width: $large) {
		// font-size: em(78);
	}
	@media (min-width: $xlarge) {
		// font-size: em(88);
	}
	@media (min-width: $xxlarge) {
		// font-size: em(100);
	}
}

.graphic-dek {
	margin-bottom: em(5);
	font-weight: 600;
	font-size: em(16);
	font-family: "MuseoSans",Helvetica,Arial,sans-serif;
	line-height: 120%;
}




// BAR CHART

#chart {
	margin-bottom: em(10);
}

.body-copy {
	margin-bottom: em(20);
	line-height: 150%;
}

.graphic-dek {
	font-size: em(20);
}

.graphic-copy {
	margin-bottom: em(10);
	font-size: em(14);
	line-height: 140%;
}

.graphic-container {
	padding: 10px;
	background-color: floralwhite;
}

.bar rect {
    stroke: #fff;
    shape-rendering: crispEdges;
}
 
.bar rect.background {
    fill: #eee;
}
 
.bar {
	.audience {
	    fill: $bground-8;
	}
	&:nth-of-type(9) .audience {
		fill: $bground-2;
	}
}

.name {
    font-size: em(11);
    @media (min-width: $small) {
		font-size: em(12);
	}
}

.value-labels {
	font-size: em(11);
	fill: floralwhite;
    @media (min-width: $smedium) {
		font-size: em(12);
	}
}
 
.axis line {
    stroke: #ccc;
    stroke-width: 1;
}

line.median {
    stroke: #777;
    stroke-width: 1;
}

.tick text {
	font-size: em(11);
	fill: $med-gray;
	@media (min-width: $small) {
		font-size: em(12);
	}
}

.domain { 
  fill: none; 
  stroke: $med-gray; 
  stroke-width: 1; 
} 

.event-year {
	fill: $med-gray;
}

.sources-copy {
	margin-bottom: 5px;
	padding-top: 10px;
	border-top: 1px solid $med-gray;
	color: $med-gray;
	text-align: left;
	font-size: em(11);
	fill: $med-gray;
	@media (min-width: $small) {
		font-size: em(12);
	}
}






